.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 画面が狭い場合は、vwをベースにサイズ指定していた箇所を、画面幅が600pxを超えたら固定にする。 */
@media (min-width: 600px) {
  .Wordle .Challenge div.Char {
    font-size: 30px !important;
    width: 47px !important;
    height: 47px !important;
  }
  .Wordle .Keyboard .Key {
    font-size: 18px !important;
    width: 47px !important;
    height: 68px !important;
    padding: 23px 0px !important;
    margin: 10px 3px !important;
  }
  .Result .btn {
    border-radius: 6px !important;
    font-size: 30px !important;
    margin-top: 30px !important;
    padding: 12px 24px !important;
  }
}