html {
  background-color: #333;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  border-top: 0px;
  margin: 0px 0px 20px 0px;
  padding: 10px;
}
header {
}
header a.lang {
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 10px;
  padding: 1vw;
}
header a.lang img {
  width: 8vw;
  height: auto;
}
footer {
  margin-top: 30px;
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  color: #ccc;
}
footer a:link,
footer a:visited,
footer a {
  color: #ccc;
}

a.btn {
  font-size: 5vw;
  display: inline-block;
  background-color: #33f;
  color: #fff;
  padding: 2vw 4vw;
  margin-top: 5vw;
  text-decoration: none;
  border-radius: 1vw;
}

.refuse > div.Char {
  animation: refuse .15s  infinite;
}

@keyframes refuse {
  0% {transform: translate(0px, 0px)}
  25% {transform: translate(5px, 0px)}
  50% {transform: translate(0px, 0px)}
  75% {transform: translate(-5px, 0px)}
  100% {transform: translate(0px, 0px)}
}

.Challenge .alert {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 2;
}
.Challenge.alert .alert {
  display: inline-block;
}

.roll .roll {
  transform-style: preserve-3d;
  animation: roll 0.5s linear;
}

@keyframes roll {
  0%   { transform: rotateX(0deg); }
  50% { transform: rotateX(90deg); }
  51% { transform: rotateX(-90deg); }
  100%   { transform: rotateX(0deg); }
}
.Challenge {
  perspective: 2000px;
}
.Challenge .Char.hide-judge {
  color: #333 !important;
  background-color: white !important;
}