html {
  background-color: #333;
  margin: 0;
}
body {
  margin: 0;
  padding-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  border-top: 0px;
}
footer {
  margin-top: 30px;
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  color: #ccc;
}
footer a:link,
footer a:visited,
footer a {
  color: #ccc;
}

a.btn {
  font-size: 5vw;
  display: inline-block;
  background-color: #33f;
  color: #fff;
  padding: 2vw 4vw;
  margin-top: 5vw;
  text-decoration: none;
  border-radius: 1vw;
}

.refuse > div.Char {
  animation: refuse .15s  infinite;
}

@keyframes refuse {
  0% {transform: translate(0px, 0px)}
  25% {transform: translate(5px, 0px)}
  50% {transform: translate(0px, 0px)}
  75% {transform: translate(-5px, 0px)}
  100% {transform: translate(0px, 0px)}
}

.Challenge .alert {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 2;
}
.Challenge.alert .alert {
  display: inline-block;
}